<!DOCTYPE html>
<html lang="ko">
<head>
    <title>결제 승인</title>
    <meta charset="utf-8"/>
</head>
<body>

<!-- 할인 쿠폰 -->
<div>
    <input id="coupon-box" type="checkbox"/>
    <label for="coupon-box"> 5,000원 쿠폰 적용 </label>
</div>
<!-- 결제 UI -->
<div id="payment-method"></div>
<!-- 이용약관 UI -->
<div id="agreement"></div>
<!-- 결제하기 버튼 -->
<button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>

<script th:inline="javascript">
    /*<![CDATA[*/
    const userId = [[${userId}]]
    const email = [[${email}]]
    const username = [[${username}]]
    const phone = [[${phone}]]

    let amount = [[${amount}]]
    const originalAmount = amount;
    const orderName = [[${orderName}]]
    const orderId = [[${orderId}]]

    const clientKey = [[${clientKey}]]
    const scriptUrl = /*[[${scriptUrl}]]*/ "";
    /*]]>*/
</script>

<script>
    const script = document.createElement("script");
    script.src = scriptUrl;
    script.onload = function () {
        main(); // 스크립트가 로드된 후 main 함수 호출
    };
    document.head.appendChild(script);

    async function main() {
        const button = document.getElementById("payment-button");
        const coupon = document.getElementById("coupon-box");
        // ------  결제위젯 초기화 ------
        const tossPayments = TossPayments(clientKey);
        // 회원 결제
        const customerKey = userId
        const widgets = tossPayments.widgets({
            customerKey,
        });

        // ------ 주문의 결제 금액 설정 ------
        await widgets.setAmount({
            currency: "KRW",
            value: amount,
        });

        await Promise.all([
            // ------  결제 UI 렌더링 ------
            widgets.renderPaymentMethods({
                selector: "#payment-method",
                variantKey: "DEFAULT",
            }),
            // ------  이용약관 UI 렌더링 ------
            widgets.renderAgreement({selector: "#agreement", variantKey: "AGREEMENT"}),
        ]);

        // ------  주문서의 결제 금액이 변경되었을 경우 결제 금액 업데이트 ------
        coupon.addEventListener("change", async function () {
            if (coupon.checked) {
                amount -= 5000
                await widgets.setAmount({
                    currency: "KRW",
                    value: amount,
                });

                return;
            } else {
                amount = originalAmount
            }

            await widgets.setAmount({
                currency: "KRW",
                value: amount,
            });
        });

        // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
        button.addEventListener("click", async function () {
            await widgets.requestPayment({
                orderId: orderId,
                orderName: orderName,
                successUrl: window.location.origin + "/success",
                failUrl: window.location.origin + "/fail",
                customerEmail: email,
                customerName: username,
                customerMobilePhone: phone,
            });
        });
    }
</script>
</body>
</html>